# compilation
**.a
**.la
**.lo
**.o
**/.deps
**/.libs
**/.dirstamp
**.dll
**.s.0
**.so
src/openocd.exe

# IDE
.vs
**~


# configure
INSTALL
**/Makefile
**/Makefile.in
aclocal.m4
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
doc/stamp-vti
doc/version.texi
install-sh
libtool
ltmain.sh
mdate-sh
missing
stamp-h1
autom4te.cache
	
# autogen
src/jtag/jtag_minidriver.h
src/jtag/minidriver_imp.h
src/startup_tcl.inc
texinfo.tex

no changes added to commit (use "git add" and/or "git commit -a")
